<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hola" data-text="QUITO" data-moreinfo="Indice de Felicidad Hoy"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
    <div data-id="Today" data-view="Highbar" data-unordered="true"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="highpie" data-view="Highpie" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="higharea" data-view="Higharea" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Leyend" data-view="List" data-title="Leyenda"></div>
    </li>

  </ul>
</div>
